// Colors
@import 'src/style-settings/colors';

// Default component settings
$chat-transitions-time: .1s;
$chat-window-header-height: 35px;
$chat-window-header-width: 100%;
$chat-window-header-font-color: $color-white;
$chat-window-header-background-color: $color-base;
$chat-window-header-icon-color: #80AED2;
$chat-window-header-icon-size: 35px;
$chat-window-message-icon-color: #888;
$chat-window-message-icon-size: 24px;
$chat-window-min-width: 320px;
$chat-window-max-width: 530px;
$chat-window-content-height:330px;
$chat-window-border: 1px solid #DCDCDC;
$chat-background-color: $color-white;
$chat-font-color: $color-gray-dark;
$chat-message-background-color:#DDD;
$chat-textarea-background-color: $color-light;
$chat-textarea-border: 1px solid #dedede;

// Global component settings (Can overwrite default component settings)
@import 'src/style-settings/settings';

// Component styles

.chat-window {
  min-width: $chat-window-min-width;
  max-width: $chat-window-max-width;
  width: 100%;
  position: fixed;
  right: 20px;
  bottom: 0;
  z-index: 999;
  background-color: $chat-background-color;
  border-left: $chat-window-border;
  border-right: $chat-window-border;
  border-top: $chat-window-border;
  box-shadow: 0px 0px 10px -1px #9a9a9a;
  @include breakpoint(mobile) {
    right: 0;
    height: 100%;
    max-width: 100%;
  }
}

.chat-window-header {
  display: block;
  width: $chat-window-header-width;
  height: $chat-window-header-height;
  background-color: $chat-window-header-background-color;
  color: $chat-window-header-font-color;
}

.chat-window-wrapper {
    height: 100%;
    transition: height $chat-transitions-time linear;
}

.minimized {
  .chat-window-wrapper {
    height: 0;
    overflow: hidden;
  }
}

.chat-window-title {
  float: left;
  font-size: 14px;
  padding: 10px;
  width: 70%;
  height: $chat-window-header-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.chat-window-tools {
  float: right;
  width: $chat-window-header-icon-size * 2; // until 2 icons
  height: $chat-window-header-height;
  color: $chat-window-header-icon-color;

  .icon {
    display: block;
    float: right;
    width: $chat-window-header-icon-size;
    height: $chat-window-header-icon-size;
    line-height: $chat-window-header-icon-size;
    padding: 0;
    text-align: center;
    cursor: pointer;
    color: $chat-window-header-icon-color;
    font-size: 14px;
    border: none;
    background-color: transparent;
    transition: color $chat-transitions-time linear;

    &:hover {
      color: $color-white;
    }
  }

  .btn-minimize,
  .btn-restore, {
    @include breakpoint(mobile) {
      display: none;
    }
  }
}

.chat-window-content {
  height: $chat-window-content-height;
  width: 100%;
  overflow: hidden;
  padding: 0 10px 10px;
  margin-top: 10px;
  @include breakpoint(mobile) {
    height: calc(100% - 135px);
  }
}

.chat-message-stream {
  width: 100%;
  height: 100%;
  color: $color-gray-dark;
  font-style: italic;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.chat-footer {
  width: 100%;
  height: 90px;
  padding: 10px;
  border-top: $chat-window-border;
}

.chat-message-composer {
  width: 100%;
  height: 70px;
  background-color: $chat-textarea-background-color;
  border: $chat-textarea-border;
  resize: none;
  padding: 5px;
  color: #666;
  font-size: 12px;
  box-shadow: inset 0px 0px 14px -3px #9a9a9a;
}

.chat-message {
  margin: 10px 0;
  overflow: auto;

  .icon {
    display: none;
    color: $chat-window-message-icon-color;
    width: $chat-window-message-icon-size;
    height: $chat-window-message-icon-size;
    line-height: $chat-window-message-icon-size;
  }
  .icon-checked {
    color: $color-base;
  }

  &.me {
    .chat-profile-picture {
      float: right;
    }
    .chat-message-content {
      margin: 0 15px 0 0;
      float: right;
      &:before {
        border-color: transparent transparent transparent $chat-message-background-color;
        right: -14px;
        left: initial;
      }
    }
    .chat-message-text {
      float: left;
    }
    .chat-message-info {
      left: initial;
      right: 7px;
      text-align: right;
    }
    .icon {
      display: block;
    }
  }
}

.chat-profile-picture {
  float: left;
  width: 65px;
  height: 65px;
}

.chat-message-content {
  float: left;
  background-color: $chat-message-background-color;
  display: block;
  width: 73%;
  padding: 7px;
  position: relative;
  margin: 0 0 0 15px;

  &:before {
    content: "";
    border-style: solid;
    display: block;
    border-width: 7px;
    border-color: transparent $chat-message-background-color transparent transparent;
    position: absolute;
    left: -14px;
    top: 15px;
  }
}

.chat-message-info {
  width: 100%;
  max-width: 180px;
  position: absolute;
  bottom: 7px;
  font-size: 12px;
  line-height: 12px;
}

.chat-message-text {
  float: right;
  width: 65%;
  @include breakpoint(mobile) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.chat-message-profile-name {
  display: block;
}

.chat-message-company-name {
  display: block;
  font-weight: 700;
}

.chat-message-send-time {
  white-space: nowrap;
  font-size: 11px;
  margin-top: 2px;
  display: block;
}

.chat-message-reading-status {
  display: block;
  width: $chat-window-message-icon-size;
  height: $chat-window-message-icon-size;
  float: left;
  clear: both;
  margin-top: 10px;
}